<div class="container  justify-content-center">
    <h1><%= t('welcome-message') %> </h1>
</div>

<%= button_to t('connect-twitter'), "/auth/twitter", data: { turbo: false }, method: :post, class: "btn btn-primary" %>